.hero {
  flex-direction: row;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.hero__banner {
  position: relative;
  display: inline-block;
  order: 2;
  /* margin-left: 1rem; */
  margin: 0;
}
.hero__image > img {
  position: absolute;
  left: 0;
  top: 10rem;
}
.hero__banner .desktop {
  position: absolute;
  top: 0;
  left: 5rem;
}
.hero__title {
  order: 1;
  padding: 0;
  display: block;
}
.hero__title h1 {
  font-size: 8rem;
  color: #f6f6f6;
  margin-top: 7rem;
  font-weight: 700;
  line-height: 5.4rem;
}
.hero__title p {
  color: #f6f6f6;
  font-size: 3.6rem;
  margin-top: 4rem;
  font-weight: 500;
  line-height: 5.4rem;
  /* width: 80.8rem;
    height: 21.6rem; */
}
.hero__title button {
  margin-top: 8.8rem;
  font-size: 3.2rem;
}
